<label class="clearfix">
   <input name="registration[participants][<%= counter %>][name]" type="text" value="<%= participant["name"] unless participant == nil %>" placeholder="Enter your participants Name" size="40"> 
   <span class="buy">
		Buy 
		<a href="#" data-reveal-id="shirt-modal"><em>WebCamp T-shirt</em></a>? 
		<input name="registration[participants][<%= counter %>][buying_shirt]" class="buy-checkbox" type="checkbox" <% if participant == nil || (participant != nil && participant["buying_shirt"] == 'on') %>checked="checked"<% end %> />
	</span>
   <span class="tsize">Size 
		<select name="registration[participants][<%= counter %>][shirt_size]">
			<option value="0" <%= "selected" if participant != nil && participant["buying_shirt"] == "on" && participant["shirt_size"] == "0" %> >S</option>
			<option value="1" <%= "selected" if participant != nil && participant["buying_shirt"] == "on" && participant["shirt_size"] == "1" %> >M</option>
			<option value="2" <%= "selected" if participant != nil && participant["buying_shirt"] == "on" && participant["shirt_size"] == "2" %> >L</option>
		</select>
	</span>		   	
</label>