<%= provide(:title,'GoAbroadLabs WebCamp 2013 - Register')%>

<% content_for :registration do %>
    <section class="column grid_12">
		<div class="box grid_7">
			<h2>Hi, <span class="mntxt"><%= @schoolCode.owner %></span></h2>
			<p>Please fill up the form for your representatives. Each school can send up to 6 participants, ex. two(2) Coaches and four(4) students.</p>
			
			<label><span>By checking "Buy WebCamp T-shirt" we will be able to reserve you a limited edition WebCamp T-shirt, payment will be asked during the registration day.</span></label>
			
			<% if @hasErrors %>
				<span class="error clearfix">
					<span>The following errors occured:</span>
					<% @errorMessage.each do | error | %>
						<%= error %>
					<% end %>
				</span>
			<% end %>	
			<form action="/event/finish-registration" method="post">
				<div class="session clearfix">
					<div id="participants_container">
						<%= render :partial => "event/addParticipant", :locals => { :counter => 0, :participant => nil } if @participants.size == 0 %>
						<% i = 0 %>
						<% @participants.each do | participant | %>
							<%= render :partial => "event/addParticipant", :locals => { :counter => i, :participant => participant[1] } %>
							<% i = i+1 %>
						<% end %>
					</div>	
					<label><a href="javascript:void(0)" id="add_participant" class="add"><img src="images/add.png" border="" align="left">Add Participants</a></label>
				</div>
				<div class="session">
					<p>Enter your school <em>Email address</em> for further updates and additional informations.</p>
					<label class="clearfix"><input type="text" name="registration[school_contact]" value="<%= @email unless @email == '' %>" placeholder="Please enter your school email" size="40"></label>
				</div>
				<span class="rsub">
					<input type="submit" value="Finish" class="clear">						
				</span>
			</form>
		</div>
    </section>
<% end %>

<% provide :script do %>
    <%= javascript_include_tag "registration" %>
<% end %>