<%= provide(:title,'GoAbroadLabs WebCamp 2013 - Register')%>

<% content_for :registration do %>
    <section class="column grid_12">
        <div class="row">
            <div class="column grid_12">
                <div class="box grid_5">
                    <h2>Registration</h2>
                    <%= form_for @attendee, :url => { :action => "register" }, :method => "post"  do |form| %>
                        <label>
                            <%= form.error_messages  %>
                        </label>
                        
                            <%= form.text_field :first_name, :size => 23, :placeHolder => "First Name" %>
                            <%= form.text_field :last_name, :size => 23, :placeHolder => "Last Name" %>
                        
                        <label>
                            <%= form.text_field :email_address, :size => 50, :placeHolder => "Your Email" %>
                        </label>
                        <label>
                            <%= text_field_tag(:code,@code || "Your School Code",:size=>50) %>
                        </label>
                        <label><span>By clicking Reserve me a seat, you agree to our <a href="">Terms</a> and that you have read our <a href="">Data Use Policy</a>, including our <a href="">Cookie Use</a>.</span></label>
                        <input type="submit" value="Submit">    
                    <% end %>
                </div>
            </div>
        </div>
    </section>
<% end %>

<% content_for :script do %>
    <%= javascript_include_tag "registration" %>
<% end %>