<%= provide(:title,'GoAbroadLabs WebCamp 2013 - Register')%>

<% content_for :registration do %>

    <section class="column grid_12">
        <div class="row">

            <div class="column grid_12">
                <div class="box grid_7">
                    <h2>Hi, <span class="mntxt"><%= @attendee.name %></span><span class="unitxt">from <span><%= @code.owner %></span></span></h2>
                    
                    <%= form_tag({},:method => 'post') do %>
                        <%= "Do not repeat a workshop" if @with_error  %>
                        <div class="session">
                            <h3>Morning Session</h3>
                            <label>
                                <span>8:00am - 10:00am</span>
                                <div class="select fr">
                                    <select name="workshops[]">
                                        <% @workshops.each do |workshop| %>
                                            <option value="<%= workshop['id'] %>" <%= "selected" if workshop['id'] == @selected_workshops[0].to_i %> >
                                                <%="#{workshop['name']} Workshop (#{workshop['first_session_left']} slots left)"%>
                                            </option>
                                        <% end %>
                                    </select>
                                </div>
                            </label>
                            
                            <label>
                                <span>10:00am - 12:00pm</span>
                                <div class="select fr">
                                    <select name="workshops[]">
                                        <% @workshops.each do |workshop| %>
                                            <option value="<%= workshop['id'] %>" <%= "selected" if workshop['id'] == @selected_workshops[1].to_i %> >
                                                <%="#{workshop['name']} Workshop (#{workshop['second_session_left']} slots left)"%>
                                            </option>
                                        <% end %>
                                    </select>
                                </div>
                            </label>
                            
                        </div>
                        <div class="session">
                            <h3>Afternoon Session</h3>
                            <label>
                                <span>1:00am - 3:00am</span>
                                <div class="select fr">
                                    <select name="workshops[]">
                                        <% @workshops.each do |workshop| %>
                                            <option value="<%= workshop['id'] %>" <%= "selected" if workshop['id'] == @selected_workshops[2].to_i %> >
                                                <%="#{workshop['name']} Workshop (#{workshop['third_session_left']} slots left)"%>
                                            </option>
                                        <% end %>
                                    </select>
                                </div>
                            </label>
                            <label>
                                <span>3:00am - 5:00am</span>
                                <div class="select fr">
                                    <select name="workshops[]">
                                        <% @workshops.each do |workshop| %>
                                            <option value="<%= workshop['id'] %>" <%= "selected" if workshop['id'] == @selected_workshops[3].to_i %> >
                                                <%="#{workshop['name']} Workshop (#{workshop['fourth_session_left']} slots left)"%>
                                            </option>
                                        <% end %>
                                    </select>
                                </div>
                            </label>
                        </div>                          
                        
                        <input type="submit" value="Proceed">                       
                    <% end %>
                </div>
            </div>
        </div>
    </section>
<% end %>

<% content_for :script do %>
    <script type="text/javascript">
        (function($){
            $(document).ready(function(){

                var curHref = 'registration';
                $('.selected').removeClass('selected');
                $('a[href="'+curHref+'"]').parent().addClass('selected');
                var offset = $('#'+curHref).offset();
                scrollToArticle(offset);
                
                function scrollToArticle(offset){
                    $('html, body').animate({
                        scrollTop: offset.top - 125
                    }, 500);
                }

                $("input[name=first_session]").each(function(){
                    $(this).click(function(){
                        var i =  $(this).val();
                        $('input[name=second_session]').removeAttr('disabled');
                        $('#second_session_'+i).attr('disabled','disabled');
                    });
                });

                $("input[name=second_session]").each(function(){
                    $(this).click(function(){
                        var i =  $(this).val();
                        $('input[name=first_session]').removeAttr('disabled');
                        $('#first_session_'+i).attr('disabled','disabled');
                    });
                });
            });
        })(jQuery);
    </script>
<% end %>