<%= provide(:title,'GoAbroadLabs WebCamp 2013 - Register')%>

<% content_for :registration do %>

    <section class="column grid_12">
        <div class="row">

            <div class="column grid_12">
                <div class="box grid_7">
                    <h2>Hi, <span class="mntxt"><%= @attendee.name %></span><span class="unitxt">from <span><%= @code.owner %></span></span></h2>
                    <p>You can select 1 workshop each session, total of 2 workshops</p>
                    
                    <%= form_tag({},:method => 'post') do %>
                        <div class="session">
                            <h3>Session 1 <span>- starts at 9:00am</span></h3>
                            <ul>
                                <% @workshops.each do |workshop|  %>
                                <li>
                                    <input type="radio" value="<%= workshop['id'] %>" name="first_session" id=<%= "first_session_#{workshop['id']}" %> />
                                        <span><%= workshop['title'] %> 
                                            ( <span><%= @session_limit - workshop['first_session_count'] %> seats left</span> )
                                        </span>
                                </li>
                                <% end %>
                            </ul>
                        </div>
                        <div class="session">
                            <h3>Session 2 <span>- starts at 11:00am</span></h3>
                            <ul>
                                <% @workshops.each do |workshop|  %>
                                <li>
                                    <input type="radio" value="<%= workshop['id'] %>" name="second_session" id=<%= "second_session_#{workshop['id']}" %>  <%= "disabled" if @session_limit - workshop['second_session_count'] <= 0 %> />
                                        <span><%= workshop['title'] %> 
                                            ( <span><%= @session_limit - workshop['second_session_count'] %> seats left</span> )
                                        </span>
                                </li>
                                <% end %>
                            </ul>
                        </div>      
                        
                        <input type="submit" value="Proceed" />                       
                    <% end %>
                </div>
            </div>
        </div>
    </section>
<% end %>

<% content_for :script do %>
    <script type="text/javascript">
        (function($){
            $(document).ready(function(){

                var curHref = 'registration';
                $('.selected').removeClass('selected');
                $('a[href="'+curHref+'"]').parent().addClass('selected');
                var offset = $('#'+curHref).offset();
                scrollToArticle(offset);
                
                function scrollToArticle(offset){
                    $('html, body').animate({
                        scrollTop: offset.top - 125
                    }, 500);
                }

                $("input[name=first_session]").each(function(){
                    $(this).click(function(){
                        var i =  $(this).val();
                        $('input[name=second_session]').removeAttr('disabled');
                        $('#second_session_'+i).attr('disabled','disabled');
                    });
                });

                $("input[name=second_session]").each(function(){
                    $(this).click(function(){
                        var i =  $(this).val();
                        $('input[name=first_session]').removeAttr('disabled');
                        $('#first_session_'+i).attr('disabled','disabled');
                    });
                });
            });
        })(jQuery);
    </script>
<% end %>