<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title><%= yield(:title).presence || 'GAPLabs WebCamp 2013' %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        
        <link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
        
        <%= stylesheet_link_tag    "application", :media => "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>

        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-37881579-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>  
    </head>
    <body>
        <header class="header">
            <section class="column">
                <div class="box grid_12">
                    <h1><%= image_tag "logo.png" , :border=>"0", :align=>"left", :align=>"GAPLabs.ph" %></h1>
                    <nav>
                        <ul class="fr">
                            <li class="selected"><a class="nav" href="home">Home</a></li>
                            <li><a class="nav" href="registration">Registration</a></li>
                            <li><a class="nav" href="schedule">Schedule</a></li>
                            <li><a class="nav" href="workshops">Workshops</a></li>
                            <li><a class="nav" href="venue">Venue</a></li>                                              
                            <li><a class="nav" href="competition">Competition</a></li>
                        </ul>
                    </nav>
                </div>
            </section>
        </header>
        <article class="hd row" id="home">
            <section class="column grid_12">
                <div>
                    <%= image_tag "webcamp.png", :border=>"0", :align=>"left" %>
                    <h1>Are you ready for the future?</h1>
                    <p>Web Design Conference</p>
                    <p>February 23-24, 2013</p>
                    <p>GoAbroad Complex, Calanipawan Road, Tacloban City, Leyte</p>
                </div>
            </section>

            <div id="shirt-modal" class="reveal-modal">
                <%= image_tag "WebCamp-Shirt.png", :width => "500px" %>
                <a class="close-reveal-modal">&#215;</a>
            <div>
        </article>
        <article class="row" id="registration">
            <%= yield :registration %>
        </article>
        <article class="row" id="schedule">
            <section class="column grid_12">
                <div class="row">
                    <div class="column grid_6">
                        <div class="box">
                            <h2>Schedule <span>Day 1</span> <span>February 23, 2013</span></h2>
                            <ul class="sched">
                                <li class="time">Morning</li>
                                <li>
                                    <span>7am</span>
                                    <p class="title">Registration</p>
                                </li>
                                <li>
                                    <span>7:30am</span>
                                    <p class="title">Preliminaries</p>
                                    <p class="indent">GoAbroad Company</p>
                                    <p class="indent">Welcome Message by Jonathan Miers</p>
                                    <p class="indent">Program Overview by Clyde Alegro</p>
                                    <p class="indent">Acknowledgement of Participants</p>                                                                      
                                </li>
                                <li>
                                    <span>8am - 10am</span>
                                    <p class="title">Workshop Sessions 1</p>                                    
                                    <p class="indent">HTML and CSS</p>
                                    <p class="indent">Jquery for Designers</p>
                                    <p class="indent">Web Development</p>
                                    <p class="indent">Version Control</p>                                                                                                       
                                </li>
                                <li>
                                    <span>10am - 12nn</span>
                                    <p class="title">Second Session</p>
                                </li>
                                <li>
                                    <span>12nn - 1pm</span>
                                    <p class="title">Lunch</p>
                                </li>
                                <li class="time">Afternoon</li>
                                <li>
                                    <span>1pm - 3pm</span>
                                    <p class="title">Third Session</p>
                                </li>
                                <li>
                                    <span>3pm - 5pm</span>
                                    <p class="title">Fourth Session</p>
                                </li>
                                <li>
                                    <span>5pm - 6:30pm</span>
                                    <p class="title">Elimination Round (Hackathon)</p>
                                </li>
                            </ul>   
                        </div>
                    </div>
                    <div class="column grid_6">
                        <div class="box">
                            <h2>Schedule <span>Day 2</span> <span>February 24, 2013</span></h2>
                            <ul class="sched">
                                <li class="time">Morning</li>
                                <li>
                                    <span>7am - 3pm</span>
                                    <p class="title">Hackathon Competition</p>
                                </li>
                                <li>
                                    <span>8:30am - 12nn</span>
                                    <p class="title">Tech Pop Quiz</p>
                                </li>
                                <li>
                                    <span>12nn - 1pm</span>
                                    <p class="title">Lunch  </p>
                                </li>
                                <li>
                                    <span>1pm - 3pm</span>
                                    <p class="title">Career Talks</p>                                    
                                    <p class="indent">Web Developer</p>
                                    <p class="indent">Web Designer</p>
                                    <p class="indent">SEO Analyst</p>
                                    
                                    <p class="indent">Project Management</p>
                                    <p class="indent">Social Media</p>      
                                    <p class="indent">Team Leader</p>
                                </li>
                                <li>
                                    <span>3pm - 4pm</span>
                                    <p class="title">Competition Deliberation (Judging)</p>
                                    <p class="indent">Careers @GoAbroad</p>
                                    <p class="indent">Merienda @ GAP Patio</p>
                                </li>
                                <li>
                                    <span>4pm - 5pm</span>
                                    <p class="title">Awarding and Closing Message</p>
                                </li>
                            </ul>                               
                        </div>
                    </div>                  
                </div>
            </section>
        </article>
        <article class="row looper" id="workshops">
            <section class="column grid_12">
                <div class="box">
                    <h2>Workshop<span class="subtxt"></span></h2>
                    <p>One of the major highlights for WebCamp 2013 are workshops! GAPLabs promise its participants of a valuable learning experience. There are 4 major sessions: HTML and CSS, JQuery, PHP Web Development and Version Control facilitated by real practitioners of GoAbroad Philippines. Speakers will share their expertise and walk you through hands-on workshops adding to your total Webcamp experience. Each participant will choose their preferred schedule on all of the 4 workshop sessions happening on February 23, 2013. Activity schedules can also be available <a class="nav" href="schedule">here</a> 
                    </p>

                    <p>
                        So what are you waiting for, register, choose your session schedule and you're ON to the great WebCamp Lab challenge!
                    </p>
                    <ul class="workshop">
                        <li>
                            <div><%= image_tag "html5.jpg", :border=>"0", :align=>"left" %></div>
                            <div>
                                <h2>HTML and CSS</h2>
                                <p>by Michael Tille</p>
                            </div>
                        </li>
                        <li>
                            <div><%= image_tag "jquery.jpg", :border=>"0", :align=>"left" %></div>
                            <div>
                                <h2>JQuery for Designers</h2>
                                <p>by Nash Lesigon, Adelon Zeta</p>
                            </div>  
                        </li>
                        <li>
                            <div><%= image_tag "mvc.jpg", :border=>"0", :align=>"left" %></div>
                            <div>
                                <h2>Web Dev</h2>
                                <p>by Czar Pino</p>
                            </div>
                        </li>
                        <li>
                            <div><%= image_tag "version.jpg", :border=>"0", :align=>"left" %></div>
                            <div>                           
                                <h2>Version Control</h2>
                                <p>by Farly Taboada</p>
                            </div>
                        </li>                       
                    </ul>                   
                </div>
            </section>
        </article>
        <article class="row" id="venue">
            <%= render :partial => "event/venue" %>
        </article>
        <article class="row nodivider" id="competition">
            <section class="column grid_12">
                <div class="row">
                    <div class="column grid_6">
                        <div class="box">
                            <h2>Hackathon Mechanics</h2>
                            <ul class="mech">
                                <li><strong>Criteria</strong>
                                    <ul class="judge">
                                        <li><p>Completeness<span>30%</span></p></li>
                                        <li><p>Code Quality<span>30%</span></p></li>
                                        <li><p>User Interface/User Experience<span>30%</span></p></li>
                                        <li><p>Overall Impact<span>10%</span></p></li>
                                        <li><strong><span>Total 100%</span></strong></p></li>
                                    </ul>
                                </li>       
                                <li><strong>Tools</strong>
                                    <p class="title">Devs are allowed to use the following dev tools.</p>
                                    <ul>
                                        <li><p>PHP version 5.3; no frameworks allowed</p></li>
                                        <li><p>Apache</p></li>
                                        <li><p>phpMyAdmin</p></li>
                                        <li><p>mySQL, database and tables should use the innoDB engine</p></li>
                                        <li><p>HTML/CSS, Twitter bootstrap framework; no other frameworks are allowed</p></li>
                                        <li><p>Vanilla Javascript/jQuery version 1.8.3; jQuery plugins and other frameworks (mootools etc.) are not allowed</p></li>
                                        <li><p>Adobe Photoshop</p></li>
                                    </ul>
                                </li>   
                                <li><strong>Mechanics</strong>
                                    <ul>
                                        <li><p>Teams shall be composed of 3 members; 2 programmers and 1 designer.</p></li>
                                        <li><p>All teams shall be given the same problem to solve. The teams will be given a maximum of 8 hours to solve the problem. Only tools listed above shall be allowed for use for the entire duration of the competition. Use of tools not included on the list shall render the team disqualified.</p></li>
                                        <li><p>Each team shall present and explain their output to the panel of judges. Outputs will be judged according to the criteria listed above.</p></li>
                                        <li><p><strong>Important</strong>: Project completion is not the sole criteria for determining the winning team, it shall be noted that judges will put equal importance on the overall user experience, DB structure and code quality of the team's output.</p></li>
                                        <li><p>Winning team shall be announced after all the judges' scores has been tallied.</p></li>
                                    </ul>
                                </li>   
                            </ul> 
                        </div>
                    </div>
                    <div class="column grid_6">
                        <div class="box">
                            <h2>Tech Pop Quiz Mechanics</h2>
                            <ol class="mech">
                                <li><p>Tech Pop Quiz will have 3 major categories: EASY, AVERAGE and DIFFICULT Rounds.</p></li>
                                <li><p>All questions will cover the field of Web Technology and with specific time allotment.</p></li>
                                <li><p>Each University can have 1 or 2 representatives for the Tech Pop Quiz.</p></li>
                                <li><p>Each category will have the following point designation:</p>
                                    <ul>
                                        <li>Easy = 2 pts/correct answer</li>
                                        <li>Average = 3 points/correct answer</li>
                                        <li>Difficult = 5 points/correct answer</li>
                                    </ul>
                                </li>   
                                <li><p>Each category in the competition may have a variety of questions like: multiple choice questions and specific answer required questions.</p></li>
                                <li><p>At the end of each round the organizers will choose top qualifiers for the next round and proclaim the first, second and third winners at the end of the difficult round.</p></li>
                                <li><p>Prizes and Certificates will be awarded to declared winners.</p></li>
                                <li><p>Judges will be sitting in while competition is in progress to verify answers and witness the competition. In case of tie breakers or any complaints, the judges are responsible to decide on the matter. Judges' decision is final and irrevocable.</p></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
        </article>

        <script>
            (function(){
                $(document).ready(function(){
                    if(window.location.hash){               
                        var curHref = window.location.hash.substring(2);
                        $('.selected').removeClass('selected');
                        // $('a[href="'+curHref+'"]').parent().addClass('selected');
                        scrollToArticle(curHref);
                    }
                    
                    $(".nav").on('click',function(){
                        $('.selected').removeClass('selected');
                        // $(this).parent().addClass('selected');
                        
                        var curHref = $(this).attr('href');
                        location.hash = '_'+curHref;
                        
                        scrollToArticle(curHref);
                        return false;   
                    });

                    function scrollToArticle(article){
						var offset = $('#'+article).offset();
						var adjustment = article == 'venue' || 'competition' ? 70 : 108;

                        $('a[href="'+article+'"]').parent().addClass('selected');
						
                        $('html, body').animate({
                            scrollTop: offset.top - adjustment
                        }, 500);
                    }
                });
            })(jQuery);
        </script>

        <%= yield(:script).presence %>
    </body>
    <footer class="row">
        <section class="column grid_12">
            <div class="box">
                <ul>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Privacy statement</a></li>
                    <li><a href="#">Terms of use</a></li>
                    <li><a href="#">Trademarks</a></li>
                    <li>&copy; 2012 GAPLabs.ph</li>
                </ul>
            </div>
        </section>
    </footer>
</html>